@font-face {
  font-family: "ShlomoSemiStam";
  src: url("../assets/fonts/ShlomoSemiStam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ShlomoStam";
  src: url("../assets/fonts/ShlomoStam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
